<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark"><div class="navbar-brand" href="#">FLIGHT SYSTEM DASHBOARD</div>

</nav>
<div>
    <iframe width="40%" height="1000" src={{url_for('route')}}></iframe>
    <div style="width:60%; float:right">
    <table class="table-form table table-sm table-hover compact" id="metadata" >
        <thead class="table-form-head thead-light text-nowrap">
            <tr>
                <th>Colour</th>
                <th>Path</th>
                <th>Distances (KM)</th>
                <th>Political Sentiment</th>
            </tr>
        </thead>
        <tbody class="table-form-body">
        {% for row, color in rows %}
            <tr>
                <td> <div style="background-color: {{ color }}; padding: 10px; width: 30px; height: 30px; border: 1px solid black"></div></td>
                <td>
                    <div class="btn-group" id="cities-buttons">
                        {% for c in row[0] %}
                            <button type="button" class="btn btn-success" style="font-size: 15px; margin-left:10px">{{ c }}</button>
                        {% endfor %}
                    </div>
                </td>
                <td> {{ row[1] }} </td>
                <td> {{ row[2] }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <iframe id="single-city" width="100%" height="400" src=""></iframe>
        <div style="width:100%">
        <iframe id="singlepositive" width="49%" height="400" src=""></iframe>
    <iframe id="singlenegative" width="49%" height="400" src=""></iframe>
            </div>
    </div>


</div>
<script>
    $("#cities-buttons button").click(function () {
        var c = $(this).text();
        console.log("city: " + c);
        var iframe = $("#single-city");
        iframe.attr("src", "{{url_for('singlecity', city="tmp")}}".replace("tmp", c));
        var iframe = $("#singlepositive");
        iframe.attr("src", "{{url_for('positivehist', city="tmp")}}".replace("tmp", c));
        var iframe = $("#singlenegative");
        iframe.attr("src", "{{url_for('negativehist', city="tmp")}}".replace("tmp", c));

    });
</script>
<iframe width="100%" height="700" src={{url_for('cityhist')}}></iframe>
<iframe width="100%" height="700" src={{url_for('citypies')}}></iframe>

    <!--<div class="row col-md-6 col-md-offset-2 custyle">-->
    <!--<table class="table table-striped custab">-->
    <!--<thead>-->

        <!--<tr>-->
            <!--<th>BIL</th>-->
            <!--<th>TITLE</th>-->
            <!--<th class="text-center">Action</th>-->
        <!--</tr>-->
    <!--</thead>-->
            <!--<tr>-->
                <!--<td>1</td>-->
                <!--<td>Single City Histogram</td>-->
                <!--<td class="text-center"><a class='btn btn-info btn-xs' href="/singlehist"><span class="glyphicon glyphicon-edit"></span> View</a></td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<td>2</td>-->
                <!--<td>Single City </td>-->

                <!--<td class="text-center"><a class='btn btn-info btn-xs' href="/singlecity"><span class="glyphicon glyphicon-edit"></span> View</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>3</td>-->
                <!--<td>All City Histogram</td>-->
                <!--<td class="text-center"><a class='btn btn-info btn-xs' href="/cityhist"><span class="glyphicon glyphicon-edit"></span> View</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>4</td>-->
                <!--<td>All City Pies</td>-->
                <!--<td class="text-center"><a class='btn btn-info btn-xs' href="/citypies"><span class="glyphicon glyphicon-edit"></span> View</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>5</td>-->
                <!--<td>Flight Routes</td>-->
                <!--<td class="text-center"><a class='btn btn-info btn-xs' href="/routes"><span class="glyphicon glyphicon-edit"></span> View</a></td>-->
            <!--</tr>-->
    <!--</table>-->



<!--    </div>-->
