<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
   
        <tr>
            <th>BIL</th>
            <th>TITLE</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                <td>1</td>
                <td>Single City Histogram</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/singlehist"><span class="glyphicon glyphicon-edit"></span> View</a></td>
            </tr>

            <tr>
                <td>2</td>
                <td>Single City </td>

                <td class="text-center"><a class='btn btn-info btn-xs' href="/singlecity"><span class="glyphicon glyphicon-edit"></span> View</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>All City Histogram</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/cityhist"><span class="glyphicon glyphicon-edit"></span> View</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>All City Pies</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/citypies"><span class="glyphicon glyphicon-edit"></span> View</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Flight Routes</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/routes"><span class="glyphicon glyphicon-edit"></span> View</a></td>
            </tr>
    </table>



    </div>
</div>