<!doctype html>
<html>
   <body>
      <h2 style = "text-align: center;">Flight System</h2>

      {% for message in form.source.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.destination.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      <form action = "http://localhost:5000/form" method = post>
         <fieldset>
            <legend>Flight System</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.source.label }}<br>
               {{ form.source }}
               <br>

                {{ form.destination.label }}<br>
               {{ form.destination }}
               <br>

               {{ form.submit }}
            </div>

         </fieldset>
      </form>
    {% with messages = get_flashed_messages() %}
     {% if messages %}
       <script>
         var messages = {{ messages | safe }};
         for (var i=0; i<messages.length; i++) {
           alert(messages[i]);
         }
       </script>
     {% endif %}
   {% endwith %}
   </body>
</html>

