<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyDgNNtNRpti5pymuNaHy7vCIIL9sI5ruIA"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(18.343593, 171.649315);
		var myOptions = {
			zoom: 2,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

var PolylineCoordinates = [
new google.maps.LatLng(2.745596, 101.707160),
new google.maps.LatLng(22.308047, 113.918481),
new google.maps.LatLng(40.079857, 116.603112),
new google.maps.LatLng(33.941589, -118.408530),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#FF0000",
strokeOpacity: 1.000000,
strokeWeight: 5
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(2.745596, 101.707160),
new google.maps.LatLng(22.308047, 113.918481),
new google.maps.LatLng(35.771987, 140.392850),
new google.maps.LatLng(33.941589, -118.408530),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#0000FF",
strokeOpacity: 1.000000,
strokeWeight: 4
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(2.745596, 101.707160),
new google.maps.LatLng(22.308047, 113.918481),
new google.maps.LatLng(40.079857, 116.603112),
new google.maps.LatLng(35.771987, 140.392850),
new google.maps.LatLng(33.941589, -118.408530),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#FFA500",
strokeOpacity: 1.000000,
strokeWeight: 3
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(2.745596, 101.707160),
new google.maps.LatLng(40.079857, 116.603112),
new google.maps.LatLng(35.771987, 140.392850),
new google.maps.LatLng(33.941589, -118.408530),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#FFFFFF",
strokeOpacity: 1.000000,
strokeWeight: 2
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(2.745596, 101.707160),
new google.maps.LatLng(22.308047, 113.918481),
new google.maps.LatLng(35.771987, 140.392850),
new google.maps.LatLng(40.079857, 116.603112),
new google.maps.LatLng(33.941589, -118.408530),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#800080",
strokeOpacity: 1.000000,
strokeWeight: 1
});

Path.setMap(map);


var PolylineCoordinates = [
new google.maps.LatLng(2.745596, 101.707160),
new google.maps.LatLng(33.941589, -118.408530),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#000000",
strokeOpacity: 1.000000,
strokeWeight: 2
});

Path.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
